/* Variables */
$vin-darkWhite: #7B8590;
$vin-lightGrey: #383F47;
$vin-grey: #2F343A;
$vin-darkGrey: #292C33;
$vin-lightBlack: #1F2227;
$vin-white: #F3F8FB;
$vin-lightCream: #EAE8BA;
$vin-darkCream: #D1C488;
$vin-rust: #823B09;
$vin-darkCyan: #097E83;
$vin-cyan: #0CACB3;

.navbar {
    background-color: $vin-lightCream;
    padding: 15px;
    padding-top: 20px;
    max-width: 100%;
    text-align: left;
    border-bottom: 5px solid $vin-rust;
}

.brand {
    font-size: 60px;
    color: $vin-rust;
    font-weight: bolder;
    font-family: brandFont;
    padding-right: 3%;
    padding-left: 1.5%;
    margin: 0;
}

.switch {
    max-width: 60%;
    margin: auto;
    background-color: $vin-cyan;
}

.navLink {
    color:$vin-rust;
    font-size: 25px;
    font-weight: 500; 
    margin: 0px;
    text-decoration-line: none;
    padding: 17px;  
}

